@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Ubuntu";
  color: #333;
}
button {
  background: #79589f;
  color: white;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.primary-color {
  color: #79589f;
}
/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar a {
  color: black;
}
.navbar a:hover {
  text-decoration: none;
  color: #79589f;
}

/* notes list */
.main-content {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}
.notes-preview a{
  background: #f4f4f4;
  display: block;
  padding: 1rem;
}
.notes-preview a:hover {
  background: #e4e4e4;
  text-decoration: none;
}

/* note details */
.note-details .metadata {
  font-size: 14px;
}

/* create note form */
.create {
  max-width: 400px;
  margin: 20px auto;
}